@model  MilitaryShop.Core.ViewModels.BasketSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li class="navbar-link"><a href="@Url.Action("Index", "Basket")">Basket (@Model.BasketCount)</a></li>
</ul>